
#wb_header { height: 107px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1928px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 70px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat scroll left top; }
body { background: #ffffff url("../gallery_gen/0d4bb8d074016d64e90465f5b447f267.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/343650913bf3a367a29ffdfc7fa70cf4.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 320px; min-height: 2105px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { height: 2055px; overflow: hidden; min-height: 2105px; }
#wb_element_instance0 p:last-child { margin-bottom: 0; }
#wb_element_instance0 { top: 30px; left: 90px; min-width: 187px; width: 187px; min-height: 24px; height: 24px; display: block; z-index: 136; }
#wb_element_instance1 { top: 10px; left: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; z-index: 137; }
#wb_element_instance1 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance2 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #f0f0f0; border-color: #000000; }
#wb_element_instance2 .btn-collapser > .icon-bar { background-color: #000000; }
#wb_element_instance2 .btn-collapser:hover { background-color: #f0f0f0; border-color: #9854c9; }
#wb_element_instance2 .btn-collapser:hover > .icon-bar { background-color: #9854c9; }
#wb_element_instance2 { top: 80px; left: 70px; min-width: 210px; width: 210px; min-height: 29px; height: 29px; display: block; z-index: 354; }
#wb_element_instance2 ul { background: #f0f0f0 none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance2 > ul { display: none; }
#wb_element_instance2.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance2.collapse-expanded > ul > li { display: block; }
#wb_element_instance2.collapse-expanded li > ul { position: static; }
#wb_element_instance2.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance2.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance2, #wb_element_instance2 ul { text-align: right; }
#wb_element_instance2 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance2 li { margin: 0px 0px 0px 0px; }
#wb_element_instance2 li a { text-transform: uppercase; border: 0px none #000000; padding: 19px 30px 19px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance2 li.over > a, #wb_element_instance2 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9854c9; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance2 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9552c4; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance2:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance2:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance2:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance3 { top: 30px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 136; }
#wb_element_instance4 { top: 1530px; left: 20px; min-width: 90px; width: 90px; min-height: 90px; height: 90px; display: block; z-index: 94; }
#wb_element_instance4 img { width: 90px; height: 90px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance5 { top: 1630px; left: 20px; min-width: 280px; width: 280px; min-height: 198px; height: 198px; display: block; z-index: 95; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_element_instance6 { top: 1580px; left: 120px; min-width: 180px; width: 180px; min-height: 34px; height: 34px; display: block; z-index: 96; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance7 { top: 1280px; left: 20px; min-width: 280px; width: 280px; min-height: 198px; height: 198px; display: block; z-index: 97; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance8 { top: 830px; left: 20px; min-width: 280px; width: 280px; min-height: 132px; height: 132px; display: block; z-index: 98; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance9 { top: 540px; left: 20px; min-width: 280px; width: 280px; min-height: 198px; height: 198px; display: block; z-index: 100; }
#wb_element_instance10 { top: 460px; left: 0px; min-width: 320px; width: 320px; min-height: 290px; height: 290px; display: block; z-index: 93; }
#wb_element_instance10 > .wb_shp { background: #d611a1 none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 290px; }
#wb_element_instance11 { top: 640px; left: 0px; min-width: 320px; width: 320px; min-height: 350px; height: 350px; display: block; z-index: 92; }
#wb_element_instance11 > .wb_shp { background: #00c1cf none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 350px; }
#wb_element_instance12 { top: 990px; left: 0px; min-width: 320px; width: 320px; min-height: 100px; height: 100px; display: block; z-index: 91; }
#wb_element_instance12 > .wb_shp { background: #3d3d3d none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 100px; }
#wb_element_instance13 { top: 1040px; left: 0px; min-width: 320px; width: 320px; min-height: 470px; height: 470px; display: block; z-index: 89; }
#wb_element_instance13 > .wb_shp { background: #e0e0e0 none repeat scroll left top; background-size: auto auto; border: 1px solid #e6e6e6; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 470px; }
#wb_element_instance14 p:last-child { margin-bottom: 0; }
#wb_element_instance14 { top: 770px; left: 20px; min-width: 270px; width: 270px; min-height: 31px; height: 31px; display: block; z-index: 101; }
#wb_element_instance15 p:last-child { margin-bottom: 0; }
#wb_element_instance15 { top: 1010px; left: 10px; min-width: 300px; width: 300px; min-height: 62px; height: 62px; display: block; z-index: 102; }
#wb_element_instance16 p:last-child { margin-bottom: 0; }
#wb_element_instance16 { top: 480px; left: 20px; min-width: 280px; width: 280px; min-height: 31px; height: 31px; display: block; z-index: 106; }
#wb_element_instance17 { top: 42px; left: 0px; min-width: 320px; width: 320px; min-height: 370px; height: 370px; display: none; z-index: 90; }
#wb_element_instance17 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 1px solid #e6e6e6; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 370px; }
#wb_element_instance18 { top: 1090px; left: 0px; min-width: 320px; width: 320px; min-height: 170px; height: 170px; display: block; z-index: 112; overflow: hidden; }
#wb_element_instance18 img { width: 362.3125px; height: 170px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance19 { top: 20px; left: 10px; min-width: 300px; width: 300px; min-height: 170px; height: 170px; display: block; z-index: 111; overflow: hidden; }
#wb_element_instance19 img { width: 300px; height: 174px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }
#wb_element_instance20 { top: 30px; left: 50px; min-width: 220px; width: 220px; min-height: 140px; height: 140px; display: block; z-index: 113; }
#wb_element_instance21 { top: 20px; left: 40px; min-width: 240px; width: 240px; min-height: 160px; height: 160px; display: block; z-index: 88; }
#wb_element_instance21 > .wb_shp { background: #000000 none repeat scroll center center; background-size: cover; border: 5px solid #c0c0c0; opacity: 0.95; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; width: 240px; height: 160px; }
#wb_element_instance22 p:last-child { margin-bottom: 0; }
#wb_element_instance22 { top: 210px; left: 10px; min-width: 300px; width: 300px; min-height: 74px; height: 74px; display: block; z-index: 115; }
#wb_element_instance23 p:last-child { margin-bottom: 0; }
#wb_element_instance23 { top: 340px; left: 10px; min-width: 300px; width: 300px; min-height: 110px; height: 110px; display: block; z-index: 116; }
#wb_element_instance24 { top: 300px; left: 100px; min-width: 107px; width: 107px; min-height: 26px; height: 26px; display: block; z-index: 117; }
#wb_element_instance25 { top: -40px; left: 10px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 126; touch-action: manipulation; }
#wb_element_instance25 img { width: 60px; height: 60px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
#wb_element_instance26 { top: 1050px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance27 { top: 71px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 110px; }
	#wb_main { height: 1170px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 768px; min-height: 1350px; }
	.wb_cont_inner { width: 768px; }
	.wb_cont_bg { width: 768px; margin-left: -384px; }
	.root { height: 1300px; overflow: visible; min-height: 1350px; }
	#wb_element_instance0 { top: 40px; left: 100px; min-width: 240px; width: 240px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance1 { top: 20px; left: 30px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance2 { top: 30px; left: 315px; min-width: 450px; width: 450px; min-height: 54px; height: 54px; display: block; }
	#wb_element_instance2 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance2 .btn-collapser { display: none; }
	#wb_element_instance2 > ul { display: block; }
	#wb_element_instance3 { top: 30px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { top: 900px; left: 30px; min-width: 90px; width: 90px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance4 img { width: 90px; height: 90px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 870px; left: 130px; min-width: 350px; width: 350px; min-height: 176px; height: 176px; display: block; }
	#wb_element_instance6 { top: 830px; left: 10px; min-width: 290px; width: 290px; min-height: 34px; height: 34px; display: block; }
	#wb_element_instance7 { top: 690px; left: 520px; min-width: 210px; width: 210px; min-height: 264px; height: 264px; display: block; }
	#wb_element_instance8 { top: 490px; left: 10px; min-width: 210px; width: 210px; min-height: 176px; height: 176px; display: block; }
	#wb_element_instance9 { top: 490px; left: 260px; min-width: 210px; width: 210px; min-height: 264px; height: 264px; display: block; }
	#wb_element_instance10 { top: 430px; left: 0px; min-width: 250px; width: 250px; min-height: 390px; height: 390px; display: block; }
	#wb_element_instance10 > .wb_shp { width: 250px; height: 390px; }
	#wb_element_instance11 { top: 430px; left: 250px; min-width: 250px; width: 250px; min-height: 390px; height: 390px; display: block; }
	#wb_element_instance11 > .wb_shp { width: 250px; height: 390px; }
	#wb_element_instance12 { top: 430px; left: 500px; min-width: 250px; width: 250px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance12 > .wb_shp { width: 250px; height: 110px; }
	#wb_element_instance13 { top: 530px; left: 500px; min-width: 250px; width: 250px; min-height: 450px; height: 450px; display: block; }
	#wb_element_instance13 > .wb_shp { width: 250px; height: 450px; }
	#wb_element_instance14 { top: 440px; left: 260px; min-width: 220px; width: 220px; min-height: 31px; height: 31px; display: block; }
	#wb_element_instance15 { top: 440px; left: 510px; min-width: 230px; width: 230px; min-height: 62px; height: 62px; display: block; }
	#wb_element_instance16 { top: 440px; left: 10px; min-width: 220px; width: 220px; min-height: 31px; height: 31px; display: block; }
	#wb_element_instance17 { top: 820px; left: 0px; min-width: 500px; width: 500px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance17 > .wb_shp { width: 500px; height: 250px; }
	#wb_element_instance18 { top: 520px; left: 500px; min-width: 250px; width: 250px; min-height: 150px; height: 150px; display: block; overflow: hidden; }
	#wb_element_instance18 img { width: 320px; height: 150px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance19 { top: 50px; left: 100px; min-width: 510px; width: 510px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance19 img { width: 510px; height: 300px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance20 { top: 70px; left: 170px; min-width: 370px; width: 370px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance21 { top: 60px; left: 160px; min-width: 390px; width: 390px; min-height: 270px; height: 270px; display: block; }
	#wb_element_instance21 > .wb_shp { width: 390px; height: 270px; }
	#wb_element_instance22 { top: 20px; left: 620px; min-width: 125px; width: 125px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance23 { top: 220px; left: 620px; min-width: 130px; width: 130px; min-height: 176px; height: 176px; display: block; }
	#wb_element_instance24 { top: 180px; left: 630px; min-width: 107px; width: 107px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance25 { top: 70px; left: 20px; min-width: 120px; width: 120px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance25 img { width: 120px; height: 120px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { top: 1050px; left: 0px; display: block; }
	#wb_element_instance27 { top: 71px; left: 0px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 110px; }
	#wb_main { height: 1130px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 1310px; }
	.wb_cont_inner { width: 992px; }
	.wb_cont_bg { width: 992px; margin-left: -496px; }
	.root { height: 1260px; overflow: visible; min-height: 1310px; }
	#wb_element_instance0 { top: 24px; left: 70px; min-width: 400px; width: 400px; min-height: 37px; height: 37px; display: block; }
	#wb_element_instance1 { top: 10px; left: 30px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance2 { top: 30px; left: 550px; min-width: 440px; width: 440px; min-height: 54px; height: 54px; display: block; }
	#wb_element_instance2 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance2 .btn-collapser { display: none; }
	#wb_element_instance2 > ul { display: block; }
	#wb_element_instance3 { top: 28px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { top: 890px; left: 30px; min-width: 94px; width: 94px; min-height: 94px; height: 94px; display: block; }
	#wb_element_instance4 img { width: 94px; height: 94px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 880px; left: 150px; min-width: 500px; width: 500px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance6 { top: 830px; left: 30px; min-width: 420px; width: 420px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance7 { top: 760px; left: 710px; min-width: 260px; width: 260px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance8 { top: 540px; left: 20px; min-width: 270px; width: 270px; min-height: 132px; height: 132px; display: block; }
	#wb_element_instance9 { top: 540px; left: 370px; min-width: 270px; width: 270px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance10 { top: 470px; left: 0px; min-width: 320px; width: 320px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance10 > .wb_shp { width: 320px; height: 310px; }
	#wb_element_instance11 { top: 470px; left: 345px; min-width: 320px; width: 320px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance11 > .wb_shp { width: 320px; height: 310px; }
	#wb_element_instance12 { top: 470px; left: 690px; min-width: 300px; width: 300px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance12 > .wb_shp { width: 300px; height: 110px; }
	#wb_element_instance13 { top: 580px; left: 690px; min-width: 300px; width: 300px; min-height: 450px; height: 450px; display: block; }
	#wb_element_instance13 > .wb_shp { width: 300px; height: 450px; }
	#wb_element_instance14 { top: 490px; left: 370px; min-width: 270px; width: 270px; min-height: 37px; height: 37px; display: block; }
	#wb_element_instance15 { top: 490px; left: 710px; min-width: 260px; width: 260px; min-height: 74px; height: 74px; display: block; }
	#wb_element_instance16 { top: 490px; left: 20px; min-width: 270px; width: 270px; min-height: 37px; height: 37px; display: block; }
	#wb_element_instance17 { top: 800px; left: 0px; min-width: 665px; width: 665px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance17 > .wb_shp { width: 665px; height: 230px; }
	#wb_element_instance18 { top: 580px; left: 690px; min-width: 300px; width: 300px; min-height: 160px; height: 160px; display: block; overflow: hidden; }
	#wb_element_instance18 img { width: 341px; height: 160px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance19 { top: 40px; left: 100px; min-width: 750px; width: 750px; min-height: 430px; height: 430px; display: block; overflow: hidden; }
	#wb_element_instance19 img { width: 750px; height: 434.78260869565px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance20 { top: 90px; left: 230px; min-width: 490px; width: 490px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance21 { top: 60px; left: 190px; min-width: 570px; width: 570px; min-height: 390px; height: 390px; display: block; }
	#wb_element_instance21 > .wb_shp { width: 570px; height: 390px; }
	#wb_element_instance22 { top: 50px; left: 850px; min-width: 125px; width: 125px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance23 { top: 260px; left: 850px; min-width: 130px; width: 130px; min-height: 176px; height: 176px; display: block; }
	#wb_element_instance24 { top: 220px; left: 860px; min-width: 107px; width: 107px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance25 { top: 60px; left: 20px; min-width: 150px; width: 150px; min-height: 147px; height: 147px; display: block; }
	#wb_element_instance25 img { width: 150px; height: 147px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { top: 1050px; left: 0px; display: block; }
	#wb_element_instance27 { top: 71px; left: 0px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 121px; }
	#wb_main { height: 1130px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1321px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1271px; overflow: visible; min-height: 1321px; }
	#wb_element_instance0 { top: 40px; left: 100px; min-width: 400px; width: 400px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance1 { top: 30px; left: 30px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance2 { top: 20px; left: 710px; min-width: 490px; width: 490px; min-height: 54px; height: 54px; display: block; }
	#wb_element_instance2 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance2 .btn-collapser { display: none; }
	#wb_element_instance2 > ul { display: block; }
	#wb_element_instance3 { top: 27px; left: 40px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { top: 900px; left: 50px; min-width: 94px; width: 94px; min-height: 94px; height: 94px; display: block; }
	#wb_element_instance4 img { width: 94px; height: 94px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 900px; left: 180px; min-width: 600px; width: 600px; min-height: 88px; height: 88px; display: block; }
	#wb_element_instance6 { top: 830px; left: 50px; min-width: 420px; width: 420px; min-height: 54px; height: 54px; display: block; }
	#wb_element_instance7 { top: 830px; left: 880px; min-width: 270px; width: 270px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance8 { top: 590px; left: 50px; min-width: 320px; width: 320px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance9 { top: 590px; left: 460px; min-width: 340px; width: 340px; min-height: 176px; height: 176px; display: block; }
	#wb_element_instance10 { top: 510px; left: 21px; min-width: 380px; width: 380px; min-height: 260px; height: 260px; display: block; }
	#wb_element_instance10 > .wb_shp { width: 380px; height: 260px; }
	#wb_element_instance11 { top: 510px; left: 440px; min-width: 380px; width: 380px; min-height: 260px; height: 260px; display: block; }
	#wb_element_instance11 > .wb_shp { width: 380px; height: 260px; }
	#wb_element_instance12 { top: 510px; left: 851px; min-width: 330px; width: 330px; min-height: 120px; height: 120px; display: block; }
	#wb_element_instance12 > .wb_shp { width: 330px; height: 120px; }
	#wb_element_instance13 { top: 630px; left: 851px; min-width: 330px; width: 330px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance13 > .wb_shp { width: 330px; height: 400px; }
	#wb_element_instance14 { top: 530px; left: 461px; min-width: 340px; width: 340px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance15 { top: 530px; left: 860px; min-width: 310px; width: 310px; min-height: 86px; height: 86px; display: block; }
	#wb_element_instance16 { top: 530px; left: 51px; min-width: 320px; width: 320px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance17 { top: 810px; left: 20px; min-width: 800px; width: 800px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance17 > .wb_shp { width: 800px; height: 220px; }
	#wb_element_instance18 { top: 630px; left: 851px; min-width: 330px; width: 330px; min-height: 180px; height: 180px; display: block; overflow: hidden; }
	#wb_element_instance18 img { width: 433px; height: 210px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance19 { top: 30px; left: 190px; min-width: 830px; width: 830px; min-height: 482px; height: 482px; display: block; }
	#wb_element_instance19 img { width: 830px; height: 482px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance20 { top: 60px; left: 310px; min-width: 600px; width: 600px; min-height: 370px; height: 370px; display: block; }
	#wb_element_instance21 { top: 50px; left: 290px; min-width: 630px; width: 630px; min-height: 390px; height: 390px; display: block; }
	#wb_element_instance21 > .wb_shp { width: 630px; height: 390px; }
	#wb_element_instance22 { top: 50px; left: 1030px; min-width: 125px; width: 125px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance23 { top: 260px; left: 1030px; min-width: 130px; width: 130px; min-height: 176px; height: 176px; display: block; }
	#wb_element_instance24 { top: 210px; left: 1040px; min-width: 107px; width: 107px; min-height: 26px; height: 26px; display: block; }
	#wb_element_instance25 { top: 60px; left: 20px; min-width: 220px; width: 220px; min-height: 216px; height: 216px; display: block; }
	#wb_element_instance25 img { width: 220px; height: 216px; display: block; cursor: pointer; position: static; left: 0px; top: 0px; }
	#wb_element_instance26 { top: 1050px; left: 0px; display: block; }
	#wb_element_instance27 { top: 71px; left: 0px; display: block; }
}

@media (max-width: 767px) {
}
