
#wb_header { height: 110px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1350px; padding-bottom: 80px; }
#wb_main > .wb_cont_bg { background: #ffffff none repeat scroll left top; }
#wb_footer { height: 70px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: transparent url("../gallery_gen/0d4bb8d074016d64e90465f5b447f267.jpg") repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/343650913bf3a367a29ffdfc7fa70cf4.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 320px; min-height: 1530px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { height: 1530px; overflow: hidden; min-height: 1530px; }
#wb_element_instance28 p:last-child { margin-bottom: 0; }
#wb_element_instance28 { top: 30px; left: 90px; min-width: 187px; width: 187px; min-height: 24px; height: 24px; display: block; z-index: 136; }
#wb_element_instance29 { top: 10px; left: 20px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; z-index: 137; }
#wb_element_instance29 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance30 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #f0f0f0; border-color: #000000; }
#wb_element_instance30 .btn-collapser > .icon-bar { background-color: #000000; }
#wb_element_instance30 .btn-collapser:hover { background-color: #f0f0f0; border-color: #9854c9; }
#wb_element_instance30 .btn-collapser:hover > .icon-bar { background-color: #9854c9; }
#wb_element_instance30 { top: 80px; left: 70px; min-width: 210px; width: 210px; min-height: 29px; height: 29px; display: block; z-index: 354; }
#wb_element_instance30 ul { background: #f0f0f0 none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance30 > ul { display: none; }
#wb_element_instance30.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance30.collapse-expanded > ul > li { display: block; }
#wb_element_instance30.collapse-expanded li > ul { position: static; }
#wb_element_instance30.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance30.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance30, #wb_element_instance30 ul { text-align: right; }
#wb_element_instance30 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance30 li { margin: 0px 0px 0px 0px; }
#wb_element_instance30 li a { text-transform: uppercase; border: 0px none #000000; padding: 19px 30px 19px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance30 li.over > a, #wb_element_instance30 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9854c9; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance30 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9552c4; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance30:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance30:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance30:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance31 p:last-child { margin-bottom: 0; }
#wb_element_instance31 { top: 30px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 136; }
#wb_element_instance32 { top: 90px; left: 20px; min-width: 280px; width: 280px; min-height: 160px; height: 160px; display: block; z-index: 26; overflow: hidden; }
#wb_element_instance32 img { width: 290px; height: 160px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance33 { top: 630px; left: 20px; min-width: 280px; width: 280px; min-height: 160px; height: 160px; display: block; z-index: 27; }
#wb_element_instance33 img { width: 280px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance34 p:last-child { margin-bottom: 0; }
#wb_element_instance34 { top: 260px; left: 20px; min-width: 280px; width: 280px; min-height: 330px; height: 330px; display: block; z-index: 28; }
#wb_element_instance35 p:last-child { margin-bottom: 0; }
#wb_element_instance35 { top: 830px; left: 20px; min-width: 280px; width: 280px; min-height: 440px; height: 440px; display: block; z-index: 29; }
#wb_element_instance36 p:last-child { margin-bottom: 0; }
#wb_element_instance36 { top: 30px; left: 20px; min-width: 290px; width: 290px; min-height: 34px; height: 34px; display: block; z-index: 30; }
#wb_element_instance37 p:last-child { margin-bottom: 0; }
#wb_element_instance37 { top: 800px; left: 20px; min-width: 300px; width: 300px; min-height: 24px; height: 24px; display: block; z-index: 31; }
#wb_element_instance38 p:last-child { margin-bottom: 0; }
#wb_element_instance38 { top: 0px; left: 0px; min-width: 280px; width: 280px; min-height: 24px; height: 24px; display: none; z-index: 32; }
#wb_element_instance39 { top: 780px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance40 { top: 71px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 110px; }
	#wb_main { height: 1120px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 768px; min-height: 1300px; }
	.wb_cont_inner { width: 768px; }
	.wb_cont_bg { width: 768px; margin-left: -384px; }
	.root { height: 1300px; overflow: visible; min-height: 1300px; }
	#wb_element_instance28 { top: 40px; left: 100px; min-width: 240px; width: 240px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance29 { top: 20px; left: 30px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance29 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance30 { top: 30px; left: 315px; min-width: 450px; width: 450px; min-height: 54px; height: 54px; display: block; }
	#wb_element_instance30 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance30 .btn-collapser { display: none; }
	#wb_element_instance30 > ul { display: block; }
	#wb_element_instance31 { top: 30px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 { top: 100px; left: 480px; min-width: 270px; width: 270px; min-height: 150px; height: 150px; display: block; overflow: hidden; }
	#wb_element_instance32 img { width: 320px; height: 150px; display: block; position: relative; left: -20px; top: 0px; max-width: inherit; }
	#wb_element_instance33 { top: 350px; left: 20px; min-width: 280px; width: 280px; min-height: 160px; height: 160px; display: block; }
	#wb_element_instance33 img { width: 280px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { top: 100px; left: 20px; min-width: 440px; width: 440px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance35 { top: 390px; left: 320px; min-width: 430px; width: 430px; min-height: 286px; height: 286px; display: block; }
	#wb_element_instance36 { top: 40px; left: 20px; min-width: 730px; width: 730px; min-height: 34px; height: 34px; display: block; }
	#wb_element_instance37 { top: 350px; left: 320px; min-width: 430px; width: 430px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance38 { top: 710px; left: 20px; min-width: 730px; width: 730px; min-height: 330px; height: 330px; display: block; }
	#wb_element_instance39 { top: 780px; left: 0px; display: block; }
	#wb_element_instance40 { top: 71px; left: 0px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 110px; }
	#wb_main { height: 924px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 1104px; }
	.wb_cont_inner { width: 992px; }
	.wb_cont_bg { width: 992px; margin-left: -496px; }
	.root { height: 1104px; overflow: visible; min-height: 1104px; }
	#wb_element_instance28 { top: 24px; left: 70px; min-width: 400px; width: 400px; min-height: 37px; height: 37px; display: block; }
	#wb_element_instance29 { top: 10px; left: 30px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance29 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance30 { top: 30px; left: 550px; min-width: 440px; width: 440px; min-height: 54px; height: 54px; display: block; }
	#wb_element_instance30 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance30 .btn-collapser { display: none; }
	#wb_element_instance30 > ul { display: block; }
	#wb_element_instance31 { top: 28px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 { top: 100px; left: 650px; min-width: 320px; width: 320px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance32 img { width: 320px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance33 { top: 300px; left: 20px; min-width: 290px; width: 290px; min-height: 170px; height: 170px; display: block; }
	#wb_element_instance33 img { width: 290px; height: 170px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { top: 100px; left: 20px; min-width: 610px; width: 610px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance35 { top: 340px; left: 330px; min-width: 640px; width: 640px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance36 { top: 40px; left: 20px; min-width: 950px; width: 950px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance37 { top: 300px; left: 330px; min-width: 640px; width: 640px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance38 { top: 580px; left: 20px; min-width: 950px; width: 950px; min-height: 264px; height: 264px; display: block; }
	#wb_element_instance39 { top: 780px; left: 0px; display: block; }
	#wb_element_instance40 { top: 71px; left: 0px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 110px; }
	#wb_main { height: 920px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1100px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1020px; overflow: visible; min-height: 1100px; }
	#wb_element_instance28 { top: 40px; left: 100px; min-width: 400px; width: 400px; min-height: 43px; height: 43px; display: block; }
	#wb_element_instance29 { top: 30px; left: 30px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance29 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance30 { top: 20px; left: 710px; min-width: 490px; width: 490px; min-height: 54px; height: 54px; display: block; }
	#wb_element_instance30 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance30 .btn-collapser { display: none; }
	#wb_element_instance30 > ul { display: block; }
	#wb_element_instance31 { top: 27px; left: 40px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 { top: 120px; left: 840px; min-width: 320px; width: 320px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance32 img { width: 320px; height: 150px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance33 { top: 300px; left: 40px; min-width: 280px; width: 280px; min-height: 160px; height: 160px; display: block; }
	#wb_element_instance33 img { width: 280px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { top: 120px; left: 40px; min-width: 760px; width: 760px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance35 { top: 340px; left: 360px; min-width: 800px; width: 800px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance36 { top: 40px; left: 40px; min-width: 1120px; width: 1120px; min-height: 54px; height: 54px; display: block; }
	#wb_element_instance37 { top: 300px; left: 360px; min-width: 370px; width: 370px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance38 { top: 540px; left: 40px; min-width: 1120px; width: 1120px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance39 { top: 780px; left: 0px; display: block; }
	#wb_element_instance40 { top: 71px; left: 0px; display: block; }
}

@media (max-width: 767px) {
}
